<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="backToMenu()"></ion-icon>
    </ion-buttons>
    <ion-title>expense-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="loading">
    <ion-spinner name="crescent" color="Secondary"></ion-spinner>
  </div>
  <ion-list *ngFor="let expense of allExpenses">
    <ion-item>
      <ion-label> {{expense.reason}} </ion-label>
      <ion-label> {{expense.amount}} </ion-label>
      <ion-button color="danger" (click)="removeExpense(expense)">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>