<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input type="text" formControlName="username" placeholder="username" required> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="Password" required></ion-input>
    </ion-item>
    <ion-button type="submit" color="success" [disabled]="!loginForm.valid">Login</ion-button>
  </form>

<h3>New User? 
    <ion-button type="submit" color="success" (click)="registerUser()">Register Here</ion-button>
</h3>
  
</ion-content>