<ion-header>
  <ion-toolbar>
    <ion-title>
      Expense Managemen System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="total-amount">Total Amount : {{totalAmount}} INR</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="danger" (click)="openExpenseModal()">
              <ion-icon name="add"></ion-icon> Add Expense
            </ion-button>
            <ion-button color="success" (click)="openIncomeModal()">
              <ion-icon name="add"></ion-icon> Add Income
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>