<ion-header>
  <ion-toolbar>
    <ion-title>
      Expense Management
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="more" (click)="openActionSheetData()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card class="feature-list">
          <ion-card-header class="amount-title">
            <ion-card-title class="total-amount">Total Amount : {{totalAmount}} INR</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item (click)="viewExpenses()">
              Expenses List
              <ion-buttons slot="end">
                  <ion-icon name="eye"></ion-icon>
              </ion-buttons>
            </ion-item>
            <ion-item (click)="viewIncome()">
                Incomes List
                <ion-buttons slot="end">
                    <ion-icon name="eye"></ion-icon>
                </ion-buttons>
              </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>